.main {
  position: fixed;
  left: 0;
  bottom: 0;
  max-width: 350px;
  padding: 1.1rem 1.3rem;
  z-index: 9;

  &__content {
    font-size: 1.15rem;
  }

  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.content {
  &__text {
    margin: 5px 0;
  }
}

.copyright {
  margin: 0;
  font-size: 0.75rem;
}

.legal {
  p {
    font-size: 1.15rem;
    font-weight: 700;
    margin-top: 1.8rem;
    margin-bottom: 0;
  }
}
