.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 1.15rem;
  padding: 0.3rem 0.9rem;

  ul {
    list-style-type: none;

    li {
      display: inline-block;

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
