.container {
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  */
  position: relative;
  // overflow: hidden;
}

.main {
  width: inherit;
  height: 100vh;
  // background: #ffbe00;
  // padding: 1.1rem 0.9rem;
  // scroll-snap-type: mandatory;
  // scroll-snap-points-y: repeat(100vh);
  // overflow: scroll;
  scroll-snap-type: y mandatory;
  overflow-scrolling: touch;
  // scroll
  overflow-y: auto;
  scrollbar-width: none;
  transition: all 0.5s ease-in-out;
}

.section {
  scroll-snap-align: center;
  // scroll-snap-stop: always;
  // scroll-snap-coordinate: 0 0;
  // scroll-margin: 40px;

  position: relative;

  width: inherit;
  height: inherit;
  height: inherit;

  text-align: center;
  font-family: 0.9rem;

  .section__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.15rem;
  }

  .section__title {
    font-family: 1.15rem;
    margin-top: 0;
  }

  a {
    color: #fff;
  }

  .buy-now {
    text-transform: uppercase;
  }
}
